*{
  padding: 0;
  margin: 0;
  font-family: poppins, sans-serif;
  text-decoration: none;
  line-height: 1.1;
}

:root{
  --maxW: 75rem;
  --primary: #002a8d;
  --secundary: #ff7800;
  --skyblue-bg: #F2F8FF;
  --skyblue-bg-2: #D9EBFF;
  --txt: #05386B;
  --txt: #202e44;
  --border: 18px;
  --border-color: #EAEFF5;
  --btn-padding: 8px 16px;
  --rojo: #FF0C29;
      /* FORMULARIO */
    --form-title: black;
    --form-borde: black;
    --form-bg: transparent;
    --form-border: black;
    /* input */
        --form-input-border: #3E3e3e;
        --form-input-bg: transparent;
        --form-input-color: black;
        --form-input-invalid:var(--rojo);
        --form-input-border-invalid:var(--rojo);
    /* label */
        --form-label:#3E3e3e;
        --form-label-bg: white;
        --form-label-invalid:var(--rojo);
        --form-label-invalid-bg: white;
    /* select */
        --form-select-option: black;
        --form-select-option-bg: var(--bg);
    /* checkbox */
        --form-checkbox-txt: black;
}
body{
  width: 100%;
}
button{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secundary);
  padding: var(--btn-padding);
  border-radius: var(--border);
  font-size: 14px;
  color: white;
  gap: 0.5rem;
  cursor: pointer;
}
h1{
  font-size: 3rem;
  font-weight: 500;
  color: var(--primary);
}