.ctnBanner{
    background: var(--primary);
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 0 2rem;
    box-sizing: border-box
}
.ctnBanner .banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    max-width: var(--maxW);
    height: 100%;
    position: relative;
}
.ctnBanner .banner .ctnTxt{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    max-width: 25rem;
    z-index: 5;
}
.ctnBanner .banner .ctnImg{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.ctnBanner .banner .ctnImg img{
    position: relative;
    height: 122%;
    width: auto;
    transform: translateX(-100vw);
    animation: isotipoEntrada 0.8s ease-out forwards;
    top: -2rem;
}

@keyframes isotipoEntrada{
    from{
        transform: translateX(-100vw);
    }

    to{
        transform: translateX(0);
    }
}
.ctnBanner .banner .ctnTxt h1,
.ctnBanner .banner .ctnTxt p,
.ctnBanner .banner .ctnTxt button{
    opacity: 0;
    color: white;
}
.ctnBanner .banner .ctnTxt h1{
    animation: aparecer 0.5s ease-out 0.3s forwards;
}

.ctnBanner .banner .ctnTxt p{
    animation: aparecer 0.5s ease-out 0.5s forwards;
}

.ctnBanner .banner .ctnTxt button{
    animation: aparecer 0.5s ease-out 0.8s forwards;
}
@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(10px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.ctnBanner .ctnCards{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15rem;
    position: relative;
}
.ctnBanner .ctnCards img{
    height: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25rem) rotate(0deg);
}
.ctnBanner .ctnCards img:nth-of-type(1){
    z-index: 4;
    animation: cardEntrada1 1s ease-out 0.2s forwards;
}
.ctnBanner .ctnCards img:nth-of-type(2){
    z-index: 3;
    animation: cardEntrada2 1s ease-out 0.2s forwards;
}
.ctnBanner .ctnCards img:nth-of-type(3){
    z-index: 2;
    animation: cardEntrada3 1s ease-out 0.2s forwards;
}
@keyframes cardEntrada1{
    0%{
        transform: translate(-50%, 25rem) rotate(0deg);
    }
    55%{
        transform: translate(-50%, 0) rotate(0deg);
    }
    100%{
        transform: translate(-100%, 0) rotate(20deg);
    }
}
@keyframes cardEntrada2{
    0%{
        transform: translate(-50%, 25rem) rotate(0deg);
    }
    55%{
        transform: translate(-50%, 0) rotate(0deg);
    }
    100%{
        transform: translate(-60%, -50%) rotate(30deg);
    }
}
@keyframes cardEntrada3{
    0%{
        transform: translate(-50%, 25rem) rotate(0deg);
    }
    55%{
        transform: translate(-50%, 0) rotate(0deg);
    }
    100%{
        transform: translate(-20%, -90%) rotate(40deg);
    }
}

.ctnBanner.banner--a{
    background: var(--primary);
}

.ctnBanner.banner--b{
    background: var(--secundary);
}

.ctnBanner.banner--b button{
    background-color: var(--primary);
}

@media(max-width:900px){
    .ctnBanner .banner .ctnTxt h1{
        font-size: 2rem;
    }
    .ctnBanner .banner{
        position: initial;
    }
}
@media(max-width:800px){
    .ctnBanner .ctnCards img {
        height: 6rem;
    }
}
@media(max-width:700px){
    .ctnBanner{
        /* height: 32rem; */
        padding: 2rem;
    }
    .ctnBanner .banner .ctnTxt{
        width: 100%;
        max-width: 100%;
    }
    .ctnBanner .ctnCards img {
        height: 5rem;
    }
    @keyframes isotipoEntrada{
        from{
            transform: translateX(-100vw);
        }

        to{
            transform: translateX(15vw);
        }
    }
}
@media(max-width:650px){
    .ctnBanner{
        height: 32rem;
    }
    .ctnBanner .banner{
        flex-direction: column;
    }
    .ctnBanner .banner .ctnTxt{
        justify-content: center;
        align-items: center;
    }
    .ctnBanner .banner .ctnTxt p{
        text-align: center;
    }
    .ctnBanner .banner .ctnTxt h1{
        text-align: center;
    }
    .ctnBanner .banner .ctnTxt h1 br{
        display: none;
    }
    .ctnBanner .banner .ctnImg img{
        height: 60%;
        top: 50%;
    }
    @keyframes isotipoEntrada{
        from{
            transform: translateX(-100vw);
        }

        to{
            transform: translateX(-30vw);
        }
    }
}